# PlatformIO
.pio/
.piolibdeps/
.clangd/

# VS Code
.vscode/*

# Zachowaj ewentualne współdzielone ustawienia
!.vscode/extensions.json
!.vscode/settings.json

# Lokalne pliki konfiguracyjne / sekrety
include/secrets.h
src/secrets.h
secrets.h
*.env

# Systemowe śmieci
.DS_Store
Thumbs.db

# Logi / tymczasowe
*.log
*.tmp
*.swp
*~
include/secrets.h